#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // |  NUMLOCK  |     M     |     K     |
            // |     A     |     B     |     C     |
            // |     D     |     E     |     F     |
	    label = "Base";
            bindings = <
                &to 1		&kp KP_SLASH	&kp KP_ASTERISK	&kp KP_MINUS
                &kp KP_N7	&kp KP_N8	&kp KP_N9 
                &kp KP_N4	&kp KP_N5	&kp KP_N6	&kp KP_PLUS
                &kp KP_N1	&kp KP_N2	&kp KP_N3 
                &kp KP_N0	&kp KP_N0	&kp KP_DOT	&kp KP_EQUAL
            >;
        };
	midblock {
	    label = "Middle Block";
	    bindings = <
		&to 0		&kp PSCRN	&kp SLCK	&kp PAUSE_BREAK
		&kp INS		&kp HOME	&kp PG_UP
		&kp DEL		&kp END		&kp PG_DN	&studio_unlock
		&none		&kp UP		&none
		&kp LEFT	&kp DOWN	&kp RIGHT	&none
	    >;
	};
    };
 };
