#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        dbl0: dbl0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp N0 &kp N0>
                ;
        };
    };
};


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // |  NUMLOCK  |     M     |     K     |
            // |     A     |     B     |     C     |
            // |     D     |     E     |     F     |
            bindings = <
                &to 1		&kp KP_SLASH	&kp KP_ASTERISK	&kp KP_MINUS
                &kp N7		&kp N8		&kp N9		&kp KP_PLUS
                &kp N4		&kp N5		&kp N6		&none
                &kp N1		&kp N2		&kp N3		&kp KP_ENTER
                &kp N0		&dbl0		&kp KP_DOT	&none
            >;
        };
	midblock {
	    bindings = <
		&to 0		&kp PSCRN	&kp SLCK	&kp PAUSE_BREAK
		&kp INS		&kp HOME	&kp PG_UP	&studio_unlock
		&kp DEL		&kp END		&kp PG_DN	&studio_unlock
		&none		&kp UP		&none		&none
		&kp LEFT	&kp DOWN	&kp RIGHT	&none
	    >;
	};
    };
 };
